@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "./fonts.css"; */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 11, 11, 66;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: #070917; */
  background: #080f1a;

  font-family: "Gilroy", sans-serif;
}
#body {
  font-family: "Gilroy", sans-serif;
}
.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
.vjs-controls .vjs-play-button {
  color: red;
}
.vjs-container {
  background-color: black;
}
.vjs-video {
  aspect-ratio: 16/9;
}
.vjs-controls {
  border-radius: 10px;
}
.vjs-controls {
  border-radius: 10px 0 0 10px;
}

/* Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
  background-color: #3498db; /* Blue color */
  border-radius: 4px; /* Round corners */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9; /* Darker blue on hover */
}

/* Firefox */
::-moz-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

::-moz-scrollbar-thumb {
  background-color: #3498db; /* Blue color */
  border-radius: 4px; /* Round corners */
}

::-moz-scrollbar-thumb:hover {
  background-color: #2980b9; /* Darker blue on hover */
}
.html5-video-player a {
  display: none !important;
  opacity: 0 !important;
}
.menu-item {
  position: relative;
  /* font-family: "Gilroy", sans-serif; */
  /* Other styles for .menu-item */
}

.menu-item::before {
  content: "";
  background-color: rgb(67, 165, 251);
  width: 0;
  border-radius: 20px;
  height: 3px;
  position: absolute;
  bottom: 0;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  transition: width 0.4s ease;
}

.menu-item:hover::before {
  width: 80%;
}

.gallery-container svg {
  visibility: hidden !important;
}